@import '../../sass/variables';

#users{
    background-color:$mainColor; 
}
section{
      
    .container{
        padding: 30px 0;
        .item{
            i{
                font-size: 50px;
                margin: auto;
                color:#3ac5aa;
            }
            .title{
                color:#66696b;
            }
            .subtitle{
                font-weight: bold;
                font-size: 25px;
            }
            .icon{
                display: flex;
            }
        }
    } 

    #table{
        max-height: 300px;
        overflow: auto;        
    }

   


    #table::-webkit-scrollbar { display: none !important ;}
    #table { overflow: -moz-scrollbars-none; }
    #table { -ms-overflow-style: none; }
    table{
        i{
            opacity:0;
            
        }
        tr:hover{
            i{
                opacity: 1;
                cursor: pointer;
            }
        }
        box-shadow: none !important;
        .mat-cell.cdk-column-email,
        .mat-cell.cdk-column-city,
        .mat-cell.cdk-column-posts,
        .mat-cell.cdk-column-albums{
            color: $secondaryColor;
        }
        .mat-row:nth-child(even){
            background-color:#f8f8f8;
        }  
        td{
            border:none;
            color:black;
        }
        .mat-row:hover{
            background-color: #e3e3e3;
        }

        th.mat-header-cell{
            border-bottom: 2px solid black;    
            height: 30px;
            font-family: sans-serif;
            color:black;
            font-weight: bold;
        }
        
    }
}



h2{
    display: flex;
    .filter{
        justify-content: flex-end;
        font-size: 15px;
        border:1px solid #999999;
        border-radius: 6px;
        display: flex;
        input{
            border:none;
            background-color: transparent;
            width: 90%;
            margin:auto;
        }
        i{
            margin:auto;
        }
    }
}

.new button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: transparent;
    background-color:$secondaryColor;
    color:white;
}



