<section id="users" >
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12 col-12">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-4 item">
            <div class="row">
              <div class="icon col-lg-4 col-md-12 col-sm-12 col-12">
                <i class="fas fa-puzzle-piece"></i>
              </div>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="title">Sport type</div>
                <div class="subtitle">Cycling</div>
              </div>
            </div>

          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4 item">
            <div class="row">
              <div class="icon col-lg-4 col-md-12 col-sm-12 col-12">
                <i class="fas fa-trophy"></i>
              </div>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="title">Mode</div>
                <div class="subtitle">Advanced</div>
              </div>
            </div>

          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4 item">
            <div class="row">
              <div class="icon col-lg-4 col-md-12 col-sm-12 col-12">
                <i class="fas fa-map-signs"></i>
              </div>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="title">Route</div>
                <div class="subtitle">30 miles</div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</section>

<section id="usersTabe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <h2 class="row">
          <div class="users col-lg-8 col-md-8 col-12">
            <div class="row">
              <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                  Users
              </div>
              <div class="line col-lg-10 col-md-6 col-sm-6 col-6">
                <div></div>
              </div>
            </div>
            
          </div>
          <div class="filter col-lg-4 col-md-4 col-12">           
              <i class="fas fa-search"></i>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter table content">           
          </div>

        </h2>

      </div>
    </div>
    <div id="table">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 col-lg-12 col-md-12 col-12">
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let element">{{element.username}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>
        <ng-container matColumnDef="ride">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ride in group </th>
          <td mat-cell *matCellDef="let element"> {{element.ride}} </td>
        </ng-container>
        <ng-container matColumnDef="days">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Day of the week </th>
          <td mat-cell *matCellDef="let element"> {{element.days}} </td>
        </ng-container>
        <ng-container matColumnDef="posts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Posts </th>
          <td mat-cell *matCellDef="let element"> {{element.posts}} </td>
        </ng-container>
        <ng-container matColumnDef="albums">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Albums </th>
          <td mat-cell *matCellDef="let element"> {{element.albums}} </td>
        </ng-container>
        <ng-container matColumnDef="photos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Photos </th>
          <td mat-cell *matCellDef="let element"> {{element.photos}} </td>
        </ng-container>
        <ng-container  matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container  matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"><i (click)="removeRow(element)" class="fas fa-trash-alt"></i></td>
        </ng-container>
        
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="new">
      <button routerLink="/users/new">New user</button>
    </div>
  </div>
  
</section>
