@import './variables';
@import './mixins';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
    font-family: sans-serif;
}


.mat-menu-content{
    background-color: white !important;
    .mat-menu-item{
        color:$mainFontColor; 
        outline: none !important;       
    }      
    .mat-menu-item:hover{
        background-color:#f4f4f4;
        color:$secondaryColor;
    }  
}
.mat-menu-panel:focus{
    .mat-menu-item div{
        border:none !important;
    }
}

.secondaryColorFont{
    color:$secondaryColor;
}

.line{
    display: flex;
    div{
        width: 100%;
        height: 4px;
        background-color: #f1f1f1;
        margin: auto;
    }
}

.margin-top-30{
    margin-top: 30px;
}

.mat-form-field-underline{
    display: none !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:$secondaryColor; 
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:$secondaryColor;
    background-color:#333333 ;
  }
  
  
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, 
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
      background-color:$secondaryColor;
  }

  .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element{
    background-color:$secondaryColor;
  }
  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
      background-color:white;
      border:2px solid $secondaryColor;
      border-radius: 4px;
  }
  .mat-checkbox-checkmark path{
    stroke:#333333 !important;
    stroke-width: 3.5px;
  }
  .mat-checkbox-frame{
      border-radius: 4px !important;
  }
  .mat-checkbox-inner-container{
      width: 20px !important;
      height: 20px !important;
      border-radius: 4px !important;
  }

  .mat-radio-button .mat-ripple-element,
  .mat-checkbox-ripple .mat-ripple-element{
      background-color: white !important;
  }
  .mat-radio-outer-circle:hover,
  .mat-checkbox-background:hover, 
  .mat-checkbox-inner-container:hover .mat-checkbox-frame{
      transition: none;
    border:2px solid $secondaryColor !important;
    border-color: $secondaryColor !important;
   
}

.mat-checkbox-inner-container:hover .mat-checkbox-frame{
    border-radius: 4px !important;
}

.optional-form{
    display: flex;
    justify-content: space-between;
}
  

