@import '../../sass/variables';

h1,
h4{
    text-align: center;
}

.choices{
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    a button{
        border:none;
        padding: 10px 20px;
        background-color: $secondaryColor;
        color:white;
        border-radius: 10px;
    }
}

.container{
    margin-top: 80px;
}